
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {

  /*  colors*/

  --clr-background: 0 0% 90%;
  --clr-foreground: 0 0% 0%;

  --clr-accent: 0 100% 50%;
  --clr-accent-secondary: 197 53% 53%;

  --clr-neutral-dark: 0 0% 0%;
  --clr-neutral-md: 0 0% 40%;
  --clr-neutral-light: 0 0% 100%;

  --clr-border-dark: 0 0% 30%;
  --clr-border-md: 0 0% 50%;
  --clr-border-light: 0 0% 80%;

  --clr-tooltip-bg: 0 0% 0%;
  --clr-tooltip-text: 0 0% 100%;

  --clr-btn-primary: 210 100% 56%;
  --clr-btn-primary-text: 0 0% 100%;
  --clr-btn-primary-loader: 0 0% 100%;
  --clr-btn-secondary: 0 0% 50%;
  --clr-btn-secondary-text: 0 0% 100%;
  --clr-btn-secondary-loader: 0 0% 100%;
  --clr-btn-danger: 350 100% 50%;
  --clr-btn-danger-text: 0 0% 100%;
  --clr-btn-danger-loader: 0 0% 100%;


  --clr-hover-primary: 0 0% 100%;
  --clr-hover-secondary: 0 0% 40%;


  --clr-loader: 0 0% 0%;

}


@layer base {

  body {
    @apply bg-background text-foreground;
  }
}


@layer utilities {

  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-8;
  }

  .colors-transition {
    @apply transition-colors duration-200;
  }

}